<header>
  <h6>Simplified Chinese</h6>
</header>
<p style="font-size: 2rem">
  <span class="noun" data-tooltip="<%= subjectPinyin %>"><%- subject %></span><span class="verb"
    data-tooltip="<%= verb1Pinyin %>"><%- verb1 %></span><span class="verb" data-tooltip="<%= verb2Pinyin %>"><%- verb2
      %></span><span class="noun" data-tooltip="<%= objectPinyin %>"><%- object %></span>
</p>
<footer>
  <h6>Explaination(s):</h6>
  <ul>
    <li>{TODO}</li>
  </ul>
</footer>